<div class="container">
  <div class="fixed-alerts fixed-alerts_top fixed-alerts_right">
    <div class="alert alert_danger alert-fade" style="width: 90%; animation-delay: .1s" id="alert-top-right" data-fade-time="5" data-id="alert3">
      <div class="alert--icon">
        <i class="fas fa-times-circle"></i>
      </div>
      <div class="alert--content">
        {{ system_message }}
      </div>
      <div class="alert--close">
        <i class="far fa-times-circle"></i>
      </div>
    </div>
  </div>
</div>